<header>
    <div class="logo">
        <h1>Magische Items</h1>
    </div>
    <nav>
        <ul>
            <li><a href="../index.html" class="active">Home</a></li>
            <li><a href="../pages/weapons.html">Waffen</a></li>
            <li><a href="../pages/armors.html">Rüstungen</a></li>
            <li><a href="../pages/potions.html">Tränke</a></li>
            <li><a href="../contact.html">Kontakt</a></li>
            <li><a href="../impressum.html">Impressum</a></li>
        </ul>
    </nav>
    <div class="controls">
        <button id="add-item-btn" onclick="window.location.href='../pages/create.html'">+ Neues Item</button>
        <form id="search-form" action="../pages/search.html" method="get" class="search-bar">
            <input id="search-input" type="text" name="search" placeholder="Suche ..." />
            <div id="header-filters" class="hidden">
                <input id="minPrice" type="number" name="minPrice" placeholder="min Gold" />
                <input id="maxPrice" type="number" name="maxPrice" placeholder="max Gold" />
            </div>
            <button type="submit">Suche</button>
        </form>
    </div>
</header>