<header>
    <div class="logo">
        <h1>Magische Items</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/frontend/index.html" class="active">Home</a></li>
            <li><a href="/frontend/categories/weapons/index.html">Waffen</a></li>
            <li><a href="/frontend/categories/potions/index.html">Tränke</a></li>
            <li><a href="/frontend/categories/armors/index.html">Rüstungen</a></li>
            <li><a href="/frontend/contact.html">Kontakt</a></li>
            <li><a href="/frontend/impressum.html">Impressum</a></li>
        </ul>
    </nav>
    <div class="search-bar">
        <input type="text" id="search-input" placeholder="Search ...">
    </div> 
</header>
